:root {
  --accent: #1abd;
  --menu: #111;
  --shadow: 0 0 5px 1px
}

* {
  transition: .3s ease;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 1.7;
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

input:focus,
textarea:focus,
button:focus{
  outline: 0px solid transparent;
  box-shadow: 0 0 0 1px var(--accent);
}

/* Welcome Page Styles */

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.welcome h1 {
  padding: 10px;
  margin-bottom: 20px;
  text-transform: lowercase;
}

.welcome ul {
  display: flex;
}

.welcome a {
  padding: 10px;
  background: var(--menu);
  margin: 0 9px;
  border-radius: 5px;
  text-transform: lowercase;
}

.welcome a:hover {
  background: var(--accent);
  color: #fff;
}

/* Signup & Login Page Styles */
.signinup {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signinup input {
  color: #fff;
  padding: 10px;
  margin: 10px 5px;
  letter-spacing: 1px;
  background: var(--menu);
  border-radius: 5px;
  text-transform: lowercase;
  border: 1px solid transparent;
}

/* Homepage Styles */

.homepage {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sbutton {
  margin: 30px 0;
}

.movies-container {
  width: 860px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  border-radius: 5px;
  margin-top: 25px;
}

.movies-container h2,
.movies-container p {
  align-self: flex-start;
  width: 100%;
  display: block;
  padding: 0 10px;
  text-align: left;
}

.movies-container p a {
  padding: 10px;
  background: var(--menu);
  border-radius: 5px;
  margin-top: 10px;

}

.movies-container p a:hover {
  background: var(--accent)
}

.all-container {
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-top: 25px;
}

.all-container h2 {
  width: 100%;
  display: block;
  text-align: center;
  padding-bottom: 30px;
}

.all-home {
  position: fixed;
  top: 20px;
  left: 20px;
}


.movie-card {
  width: 150px;
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.movie-card:hover {
  transform: scale(1.1);
}

.movie-card img {
  width: 100%;
  height: 220px;
  border-radius: 5px;
}

.review-container {
  width: 882px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items:center;
  justify-content: center;
}

.review-container h2 {
  width: 100%;
  padding-left: 20px;
}

.review-card {
  width: 400px;
  max-height: 150px;
  margin: 9px;
  background: var(--menu);
  color: #fff;
  border-radius: 5px;
  white-space:normal;
  text-overflow: ellipsis;
}

.review-card:hover {
  transform: scale(1.05);
}

.review-card img {
  height: 150px;
  float: left;
  border-radius: 5px 0 0 5px;
}

.review-card span {
  display: block;
  height: 140px;
  padding: 10px;
  padding-bottom: 0px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

.review-card span::before{
    content:'';
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height:100px;
    background: linear-gradient(transparent, var(--menu));
}

.review {
  text-transform: none;
  width: 400px;
  height: 340px;
  overflow: auto;
  font-size: 1.2em;
  border-radius: 5px;
}

.sform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spage {
  height: 100vh;
}

.sform input,
.sform button{
  color: #fff;
  padding: 9px;
  margin: 10px 5px;
  letter-spacing: 1px;
  background: var(--menu);
  border: 0px solid transparent;
  border-radius: 5px;
  text-transform: lowercase;
  font-size: 1em;
}

.sresults {
  margin-top: 20px;
}

.sresults label img {
  margin-bottom: -7px;
}

.sresults label {
  display: block;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
  transition: .3s ease;
}

.sresults label:hover {
  transform: scale(1.1);
}

.sresults input[type="radio"]:checked+label {
  border: 1px solid var(--accent);
}

.sresults input:hover {
  background: var(--accent);
}

.sresults input[type="radio"] {
  display: none;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.result-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 850px;
  flex-wrap: wrap;
}

.result-cards img {
  width: 150px;
  height: 220px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.create-review-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-review{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  flex-direction: row;
  max-width: 70vw;
}

.c-content {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  max-width: 400px;
}

.c-content-left {
  text-align: right;
}

.c-content img {
  align-self: flex-end;
}


.sreview {
  width: 350px;
}

.create-review img {
  width: 250px;
  border-radius: 5px;
  margin-bottom: 10px;
}

 .create-review textarea,
 .action-buttons textarea {
  width: 400px;
  height: 200px;
  background-color: var(--menu);
  color: #fff;
  resize: none;
  border-radius: 5px;
  border: 0px solid transparent;
  padding: 10px;
  font-size: 1.1em;
  line-height: 2;
}

.create-review input[type="submit"] {
  color: #fff;
  padding: 10px;
  background: var(--menu);
  margin: 9px 0;
  border-radius: 5px;
  border: 0px solid transparent;
  font-size:1em;
}

.create-review a {
  color: #fff;
  padding: 10px;
  background: var(--menu);
  margin: 9px 0;
  border-radius: 5px;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.action-buttons textarea {
}

.action-buttons a,
.action-buttons button,
button.action-buttons{
  padding: 10px;
  background: var(--menu);
  color: #fff
  margin: 0 10px;
  margin-right: 8px;
  border-radius: 5px;
  border: 0px solid transparent;
  text-transform: lowercase;
}

button.action-buttons {
  position:absolute;
  left: 380px;
  padding: 5px inherit;
  margin-top: 5px;
}

.edit-buttons {
  display: flex;
  margin-top: -5px;
  margin-right: 20px;
  align-items: center;
  justify-content: flex-end;
}

.edit-buttons a {
  padding-top: 8px;
  padding-bottom: 8px;
}

.action-buttons a:hover,
.create-review button[type="submit"]:hover{
  background: var(--accent);
}

button[type="delete"]:hover {
  background: #d1473d;
}

.fa-trash,
.fa-arrow-right,
.fa-home,
.fa-search{
  color: #fff;
  padding: 2px;
}
.fa-user {
  color: var(--accent);
  font-size: .8em
}

.h-page-buttons button{
  margin-left: -5px;
  padding: 8px;
}
