:root {
  --accent: #1abd;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  line-height: 1.5;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

input:focus,
textarea:focus {
  outline: 1px solid var(--accent);
}

/* Welcome Page Styles */

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.welcome h1 {
  padding: 10px;
  margin-bottom: 20px;
  text-transform: lowercase;
}

.welcome ul {
  display: flex;
}

.welcome a {
  padding: 10px;
  background: #222;
  margin: 0 9px;
  border-radius: 5px;
  text-transform: lowercase;
}

.welcome a:hover {
  background: var(--accent);
  color: #fff;
}

/* Signup & Login Page Styles */
.signinup {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signinup input {
  color: #fff;
  background: #222;
  padding: 10px;
  margin: 10px 5px;
  letter-spacing: 1px;
  background: #111;
  border-radius: 5px;
  text-transform: lowercase;
  border: 1px solid transparent;
}

.signinup input:focus {
  outline: 1px solid var(--accent);
}

/* Homepage Styles */

.homepage {
  height: 100vh;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sbutton {
  margin: 30px 0;
}

.movies-container {
  max-width: 90vw;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-radius: 5px;
  margin-top: 25px;
}

.movie-card {
  width: 150px;
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.movie-card:hover {
  border: 1px solid var(--accent);
}

.movie-card img {
  width: 100%;
  height: 220px;
  border-radius: 5px;
}

.review {
  text-transform: none;
  max-height: 400px;
  overflow: auto;
  max-width: 80vw;
  padding: 10px;
  font-size: 1.2em;
  background: #111;
  padding: 10px;
  border-radius: 5px;
}

.sform {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sform input,
.sform button{
  color: #fff;
  padding: 9px;
  margin: 10px 5px;
  letter-spacing: 1px;
  background: #222;
  border: 0px solid transparent;
  border-radius: 5px;
  text-transform: lowercase;
  font-size: 1em;
}

.sresults {
  margin-top: 20px;
}

.sresults label {
  width: 100%;
  display: block;
  background: #111;
  padding: 20px;
  margin: -5px 0;
  border: 1px solid transparent;
  border-radius: 5px;
}

.sresults label:hover {
  background: var(--accent);
}

.sresults input[type="radio"] {
  display: none;
}

.sresults input[type="radio"]:checked+label {
  border: 1px solid var(--accent);
}



.create-review-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-review{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  flex-direction: row;
  max-width: 70vw;
}

.c-content {
  margin: 0 30px;
}

.sreview {
  width: 350px;
}

.create-review img {
  width: 250px;
  border-radius: 5px;
  margin-bottom: 10px;
}

 .create-review textarea,
 .action-buttons textarea {
  width: 400px;
  height: 400px;
  background-color: #222;
  color: #fff;
  resize: none;
  border-radius: 5px;
  border: 0px solid transparent;
  padding: 10px;
  font-size: 1.1em;
  line-height: 2;
}

.create-review input[type="submit"] {
  color: #fff;
  padding: 10px;
  background: #222;
  margin: 9px 0;
  border-radius: 5px;
  border: 0px solid transparent;
  font-size:1em;
}

.create-review a {
  color: #fff;
  padding: 10px;
  background: #222;
  margin: 9px 0;
  border-radius: 5px;
}

.action-buttons {
  display: flex;
  margin: 0 10px;
  margin-top: 20px;
  align-items: center;
  justify-content: flex-end;
}

.action-buttons a,
.action-buttons button {
  padding: 10px;
  background: #222;
  color: #fff
  margin: 0 10px;
  margin-right: 20px;
  border-radius: 5px;
  border: 0px solid transparent;
  text-transform: lowercase;
}

.action-buttons a:hover,
.create-review button[type="submit"]:hover{
  background: var(--accent);
}

.create-review button[type="delete"]:hover {
  background: #d1473d;
}

.fa-trash,
.fa-arrow-right{
  color: #fff;
  padding: 2px;
}
.fa-user {
  color: var(--accent);
  font-size: .8em
}

.h-page-buttons a {
  margin: 0 10px;
}
