body {
  background: #000;
  color: #fff;
  font-family: monospace;
  font-size: 1.5em;
  font-size: 13px
}

h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #666
}

a:hover {
  color: lightblue;
}

/* Welcome Page Styles */

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.welcome h1 {
  padding: 10px;
  margin-bottom: 20px;
}

.welcome ul {
  display: flex;
}

.welcome li {
  color: #fff;
  padding: 9px;
  border: 1px solid #fff;
  background: #111;
  margin: 0 9px;
  border-radius: 5px;
  font-size: .8em
}

/* Signup & Login Page Styles */
.signinup {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signinup input {
  color: #fff;
  border: 1px solid #fff;
  padding: 9px;
  margin: 10px 5px;
  letter-spacing: 1px;
  background: #111;
  border-radius: 5px;
  text-transform: lowercase;
}

/* Homepage Styles */

.homepage {
  height: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sbutton {
  margin: 30px 0;
}

.movies-container {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-radius: 5px;
  margin-top: 25px;
}

.movie-card {
  width: 250px;
  padding: 10px;
  background: #000;
  margin: 7px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.movie-card:hover {
  border: 1px solid lightblue
}

.movie-card img {
  width: 100%;
  border-radius: 5px;
}

.review {
  text-transform: none;
  max-height: 500px;
  overflow: auto;
  max-width: 80vw;
  padding: 10px;
  background: #111;
  border-radius: 5px;
  line-height: 2;
}

.sform {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sform input{
  color: #fff;
  border: 1px solid #fff;
  padding: 9px;
  margin: 10px 5px;
  letter-spacing: 1px;
  background: #111;
  border-radius: 5px;
  text-transform: lowercase;
}

.sresults {
  margin-top: 20px;
}

.sresults label {
  width: 100%;
  display: block;
  background: #111;
  padding: 20px;
  margin: -5px 0;
  border: 1px solid transparent
}

.sresults label:hover {
  background: #000;
}

.sresults input[type="radio"] {
  display: none;
}

.sresults input[type="radio"]:checked+label {
  border: 1px solid #fff
}



.create-review-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-review{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.create-review img {
  width: 350px;
  border-radius: 5px;
  margin-bottom: 10px;
}

 .create-review textarea {
  width: 100%;
  height: 170px;
  background-color: #000;
  color: #fff;
  resize: none;
  border-radius: 5px;
  padding: 10px;
  line-height: 2;
}

.create-review input[type="submit"] {
  color: #fff;
  padding: 9px;
  border: 1px solid #fff;
  background: #000;
  margin: 9px 0;
  border-radius: 5px;
  font-size: .8em
}

.create-review a {
  color: #fff;
  padding: 9px;
  border: 1px solid #fff;
  background: #000;
  margin: 9px 0;
  border-radius: 5px;
  font-size: .8em
}

.action-buttons {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-around;
}

.action-buttons a {
  text-transform: lowercase;
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #fff;
  border-radius: 5px;
}
