<section class="homepage">

  <h1>Welcome <%=current_user.username%></h1>
  <div class="action-buttons">
    <a href="/movies/search">Search for movies</a>
    <a href="/logout">logout</a>
  </div>


<%if !current_user.movies.empty?%>
  <div class="movies-container">
  <%@movies.reverse.each do |movie|%>
  <a href="/movies/<%=movie.id%>" class="movie-card"><img src="<%=movie.poster%>" alt="movie poster"></a>
  <%end%>
  </div>
<%end%>

<br>
</section>
