<div class="welcome">

  <h1 class="animated fadeInDown"> mmovies<span class="animated infinite flash slow">|</span></h1>
  <ul class="animated fadeInUp delay-1s">
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
  </ul>

</div>
