<div class="welcome">

  <h1 class="animated fadeInDown"> m_movies.</h1>
  <% if flash.has?(:message) %>
  <%= flash[:message] %>
  <% end %>
  <ul>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
  </ul>

</div>
