<div class="welcome">

  <div class="welcome-title"><h1>m_movies</h1><span class="animated infinite delay-1s flash slow color cursor">|</span></div>
  <ul class="animated fadeInUp delay-1s">
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
  </ul>

</div>
