<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <link rel="stylesheet" href="/stylesheets/reset.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <title>m_movies</title>
  </head>

  <body>
    <div>

      <% if flash.has?(:success) %>
        <h3 class="success animated">
          <%= flash[:success] %>
        </h3>
        <% elsif flash.has?(:alert) %>
          <h3 class="alert animated">
            <%= flash[:alert] %>
          </h3>
        <% end %>

        <%= yield %>

      </div>
    </body>
    <script>
      $('input[type=radio]').on('change', function () {
        $(this).closest("form").submit();
      });

      $(".alert, .success").addClass("slideInDown").delay(3000).queue(function () {
        $(this).addClass("slideOutUp").dequeue();
      });
    </script>
  </html>
