<section class="signinup animated fadeIn">

  <h1>login.</h1>

  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">

    <button type="submit" value="submit">
      <i class="fas fa-arrow-right"></i>
    </button>
  </form>

  <% if flash.has?(:alert) %>
    <a href="/signup">
      <button>
      signup?
    </button>
    </a>
  <% end %>

</section>
