<section class="signinup animated fadeIn">

  <h1>login.</h1>

  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">

    <button type="submit"  value="submit">
      <i class="fas fa-arrow-right"></i>
    </button>
  </form>
  <br>
  <% if flash.has?(:message) %>
  <span class="alert animated shake fast">
  <%= flash[:message] %>
  </span>
  <% end %>

</section>
