<section class="signinup animated fadeIn">
  <h1>signup.</h1>

  <form action="/signup" method="POST">
    <input type="text" name="username" placeholder="Username">

    <input type="password" name="password" placeholder="Password">

    <button type="submit"  value="submit">
      <i class="fas fa-arrow-right"></i>
    </button>
  </form>
  <br>

  <% if flash.has?(:message) %>
  <span class="alert animated shake">
  <%= flash[:message] %>
  </span>
  <% end %>

</section>
