<section class="signinup">
  <h1>Signup</h1>

  <form action="/signup" method="POST">
    <input type="text" name="username" placeholder="Username">

    <input type="password" name="password" placeholder="Password">

    <input type="submit" value="Signup">
  </form>
  <% if flash.has?(:message) %>
  <%= flash[:message] %>
  <% end %>

</section>
